<!-- Vista parcial -->
<div class="col-md-4 card-room-details pl-3_ px-4">

    <div class="row">
        <div class="col-md-9 pt-4 pb-2">
            <div class="row">
                <div class="col-md-12">
                    <span class="font-weight-bold card-room-title">
                        @ViewBag.selectedEstablishment.EstablishmentName
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span>@ViewBag.selectedEstablishment.EstablishmentAddress</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">                    
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <figure class="float-right">
                <img src="@ViewBag.selectedEstablishment.EstablishmentUrlImg" class="img-fluid" alt="Responsive image">
            </figure>
        </div>
    </div>
    <div class="row first-row-details">
        <div class="col-md-12 pt-2">
            <span>
                <i class="far fa-clock fa-lg_ pr-1"></i>
                Check-in @ViewBag.selectedEstablishment.CheckInTime
            </span>
            <span> | </span>
            <span>Check-out @ViewBag.selectedEstablishment.CheckOutTime</span>
        </div>
    </div>
    <hr class="pb-2" />
    <div class="row pt2">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <i class="far fa-calendar fa-lg_ pr-1"></i> <span>@ViewBag.selectedEstablishment.CheckInFormated</span> <i class="fas fa-arrow-right px-2"></i> <span> @ViewBag.selectedEstablishment.CheckOutFormated</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="nights-count">@ViewBag.selectedEstablishment.TotalDaysBooking @ViewBag.selectedEstablishment.TextTotalDays</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row pb-2">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <span>
                        <i class="far fa-user fa-lg_ pr-1"></i>@ViewBag.selectedEstablishment.TotalPeople @ViewBag.selectedEstablishment.TxtTotalPeople
                    </span>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <input type="hidden" id="priceSelectedRoom" name="priceSelectedRoom" value="@ViewBag.priceOfSelectedRoom" />
    <input type="hidden" id="taxPriceServices" name="taxPriceServices" value="" />
    <input type="hidden" id="totalPriceServices" name="totalPriceServices" value="@ViewBag.totalServices" />
    <input type="hidden" id="totalToPay" name="totalToPay" value="@ViewBag.total" />
    <div class="row pb-2">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <span class="font-weight-bold">
                        Habitación
                    </span>
                </div>
                <div class="col-md-6 text-right">
                    <span id="totalRoomSpan">$ 0</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row pb-2">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <span class="font-weight-bold">
                        Impuesto
                    </span>
                </div>
                <div class="col-md-6 text-right">
                    _
                </div>
            </div>
        </div>
    </div>
    <div class="row pb-2">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <span class="font-weight-bold">
                        Adicionales
                    </span>
                </div>
                <div class="col-md-6 text-right">
                    <span id="serviceValueSpan">$ @ViewBag.totalservices</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row pb-2">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <span class="font-weight-bold">
                        Total
                    </span>
                </div>
                <div class="col-md-6 text-right">
                    <span id="totalSpan">$ @ViewBag.total </span>
                </div>
            </div>
            
            @if (ViewBag.isTheForm == false)
            {
                <div class="row mt-5">
                    <div class="col-md-12">
                        <button data-idroom="@ViewBag.selectedRoom.IdRoom"
                                data-idestabl="@ViewBag.selectedEstablishment.IdEstablishment"
                                data-checkin="@ViewBag.selectedEstablishment.CheckIn"
                                data-checkout="@ViewBag.selectedEstablishment.CheckOut"
                                data-numrooms="@ViewBag.selectedEstablishment.NumRoom"
                                data-numadults="@ViewBag.selectedEstablishment.NumAdult"
                                data-numchildren="@ViewBag.selectedEstablishment.NumChildren"
                                data-priceroom="@ViewBag.priceOfSelectedRoom"
                                aria-expanded="false"
                                type="button"
                                class="dynamic-button-service btn-site btn--primary btn-lg btn-block">
                            Continuar
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
    <input type="hidden" id="sercices-added" name="sercices-added" />
</div>