@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/Public/_LayoutServicios.cshtml";
}

@section Styles{
    <!-- ============================================================
    =ESTILOS PARA ESTA PAGINA
    ===============================================================-->
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet">
    <link href="~/vendor/daterangepicker-master/daterangepicker.css" rel="stylesheet" />

    <style>
        .card-room-details {
            border: 1px solid #dad9e2;
            border-radius: 6px;
            box-shadow: none;
            background-color: #fff;
        }

        figure {
            margin: 0;
            width: 100px;
            height: 100px;
        }

        .card-room-title {
            font-weight: 500;
            font-size: 0.75rem;
            font-family: "Roboto",Arial,sans-serif;
            line-height: 1rem;
            letter-spacing: .07em;
            text-transform: uppercase;
            font-size: 0.875rem;
            line-height: 1.25rem;
        }

        .grid-title {
            font-weight: 700;
            font-size: 1.875rem;
            font-family: "Montserrat",Arial,sans-serif;
            line-height: 2.75rem;
            margin-bottom: 8px;
            color: #252339;
        }

        .grid-subtitle {
            font-weight: 400;
            font-size: 0.75rem;
            font-family: "Roboto",Arial,sans-serif;
            line-height: 1rem;
            color: #6f6e77;
        }

        .nights-count {
            font-weight: 400;
            font-size: 0.75rem;
            font-family: "Roboto",Arial,sans-serif;
            line-height: 1rem;
            margin-left: 24px;
            color: #6f6e77;
        }

        .grid-img {
            aspect-ratio: 4/3;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            overflow: hidden;
        }

        img {
            border-radius: 6px;
        }

        .rooms-parent {
            overflow: hidden;
            background-color: #fff;
            border: 1px solid #dadadd;
            border-radius: 6px;
            will-change: scroll-position;
            margin: 28px 0px;
        }

        .rooms-child {
            flex-flow: row wrap;
            max-width: initial;
            padding: 24px;
        }

        .room-card__title {
            font-weight: 600;
            font-size: 1.30rem;
            font-family: "Roboto",Arial,sans-serif;
            line-height: 1.75rem;
        }

        .room-info__capacity-size {
            font-weight: 400;
            font-size: 0.75rem;
            font-family: "Roboto",Arial,sans-serif;
            line-height: 1rem;
            margin: 12px 0;
        }

        .room-info__body {
            display: -webkit-box;
            flex-grow: 1;
            overflow: hidden;
            white-space: wrap;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }

        hr {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }

        .num-available-rooms {
            -webkit-text-size-adjust: 100%;
            color: #252339;
            box-sizing: inherit;
            margin: 0;
            padding: 0;
            font-weight: 500;
            font-size: 0.75rem;
            font-family: "Roboto",Arial,sans-serif;
            line-height: 1rem;
            letter-spacing: .07em;
            text-transform: uppercase;
        }

        .room-card__details {
            line-height: 1.15;
            -webkit-text-size-adjust: 100%;
            color: #252339;
            font-size: 1rem;
            list-style: none;
            font-family: "roboto";
            box-sizing: inherit;
            position: relative;
            margin-bottom: 28px;
        }

        ul {
            line-height: 1.15;
            -webkit-text-size-adjust: 100%;
            color: #252339;
            font-size: 1rem;
            font-family: "roboto";
            box-sizing: inherit;
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .room-info__asset-item--capacity-size {
            -webkit-text-size-adjust: 100%;
            color: #252339;
            box-sizing: inherit;
            padding: 0;
            list-style: none;
            font-weight: 400;
            font-size: 0.90rem;
            font-family: "Roboto",Arial,sans-serif;
            line-height: 1rem;
            margin: 8px 0;
        }

        .room-asset__label {
            font-weight: 400;
            font-size: 1rem;
            font-family: "Roboto",Arial,sans-serif;
            line-height: 1.5rem;
            display: -webkit-box;
            flex-grow: 1;
            overflow: hidden;
            white-space: wrap;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            font-weight: 400;
            font-size: 1rem;
            font-family: "Roboto",Arial,sans-serif;
            line-height: 1.55rem;
        }

        .first-row-details {
            padding-bottom: 0.12rem !important;
        }

        @@ media (min-width: 48rem) {
            .room-info__asset-item--capacity-size {
                margin: 8px 0;
            }
        }

        .room__tab-panel {
            margin: -8px 24px 4px 24px;
        }

        .choose-your-rate--no-package {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .choose-your-rate {
            font-weight: 400;
            font-size: 1rem;
            font-family: "Roboto",Arial,sans-serif;
            line-height: 1.5rem;
        }

        .choose-your-rate__delimiter {
            flex-grow: 2;
            height: 1px;
            background-color: #cfd5d7;
        }

        .choose-your-rate__text {
            padding: 0 16px;
            color: #252339;
            font-weight: 400;
            font-size: 0.625rem;
            text-align: center;
            text-transform: uppercase;
        }

        .offer {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 16px;
            justify-content: space-between;
            color: #3e3d48;
            font-size: 0.875rem;
            background-color: #fff;
            border-radius: 6px;
        }

            .offer:not(.offer--selected) {
                background-color: #f4f4f5;
            }

        @@media (min-width: 48rem) {
            .room-card--in-rates .room-card__footer {
                padding-top: 16px;
            }
        }

        .room-card__footer {
            display: flex;
            flex-basis: 100%;
            align-items: center;
            justify-content: flex-end;
        }

        .room-info__link-modal--in-footer {
            margin-right: 24px;
        }

        .room-info__link-modal {
            font-weight: 400;
            font-size: 0.875rem;
            font-family: "Roboto",Arial,sans-serif;
            line-height: 1.25rem;
            text-decoration: underline;
            margin-top: 8px;
            padding: 0;
            color: #1264a3;
            line-height: 20px;
            text-decoration: underline;
            background-color: rgba(0,0,0,0);
            border: none;
            cursor: pointer;
        }

        @@media (min-width: 48rem) {
            .room-info__button {
                max-width: 25%;
            }
        }

        .room-info__button {
            font-size: 0.875rem;
        }

        .btn-site {
            position: relative;
            display: block;
            width: 100%;
            padding: 11px;
            font-weight: 400;
            font-size: 1rem;
            font-family: "Roboto",Arial,sans-serif;
            line-height: 1.125rem;
            background-color: rgba(0,0,0,0);
            border: none;
        }

        .btn--primary {
            color: #fff;
            background-color: #1e1852;
            border-radius: 60px;
        }

        .price-section {
            background-color: #f4f4f5;
            border-radius: 6px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        .booking-price {
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 2rem;
            font-family: "Roboto",Arial,sans-serif;
            white-space: nowrap;
        }

        .rate-details__label {
            font-weight: 400;
            font-size: 0.95rem;
            font-family: "Roboto",Arial,sans-serif;
            line-height: 1rem;
            color: #6f6e77;
        }

        .pricing-details__excluded {
            display: flex;
            flex-direction: column;
            font-size: 0.75rem;
            text-align: right;
        }

        .offer__conditions {
            padding: 0;
            color: #1264a3;
            font: inherit;
            font-size: 0.775rem;
            font-family: "Roboto",Arial,sans-serif;
            white-space: nowrap;
            text-decoration: underline;
            background: none;
            border: none;
        }

        .services-parent {
            background: white;
        }

        .button {
            border-radius: 3.75rem;
            border: 1px solid transparent;
        }

        .counter {
            display: flex;
            justify-content: center;
            align-items: center;
            /* margin-top: 20px; */
        }

        .card-room-details__counter-label {
            align-self: center;
        }

        .counter-botton {
            font-size: .875rem;
            float: right;
        }

        .button-secondary {
            background: #fff;
            border: 1px solid #1e1852;
            color: #1e1852;
        }

            .button-secondary:hover {
                background: #1e1852;
                border-color: #1e1852;
                color: #fff;
            }

        .form__selector .button {
            height: 2.4rem;
            position: relative;
            width: 4.3rem;
        }

        .input-counter {
            border: 0;
            padding: 0;
            background-color: transparent !important;
        }

        .form-control:focus {
            box-shadow: 0 0 0 0 #3e3d48 !important;
        }

        .button:disabled {
            background-color: #dadadd;
            border-color: #dadadd;
            color: #6f6e77 !important;
            cursor: not-allowed;
            pointer-events: none;
        }

        .card-service__per-unit {
            display: block;
            color: #6f6e77;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1.25rem;
        }

        .card-service__per-unit-info {
            display: block;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1.25rem;
        }

        .services-child {
            border: 1px solid #b8b6c6;
            border-radius: 10px
        }

        @@media (min-width: 64rem) {
            .personal-info-form {
                max-width: 50rem;
                margin: 0 auto;
            }
        }


    </style>
}

<div class="row pt-5 pb-2 px-5">
    <div class="col-md-8">
        <div class="container-fluid">
            <div class="row pt-5 pb-2 px-5">
                <div class="col-md-6">
                    <a href="javascript:history.back()" class="float-left">Volver</a>
                </div>
                <div class="col-md-6">
                    <a href="#" class="float-right">Omitir</a>
                </div>
            </div>
            <div class="row py-1">
                <div class="col-md-12 text-center">
                    <h2 class="grid-title">Complete su reserva</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center grid-subtitle">
                    .
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12 grid-subtitle">
                    <p class="num-available-rooms"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- col-md-3 services-parent mx-3 -->
                    <div class="personal-info-form">
                        <form action="/MotorReservas/ConfirmBookingNotPay" method="post">

                            <div class="row">
                                <div class="col-md-3">
                                    <span class="font-weight-bold">FORMA DE PAGO</span>
                                </div>
                                <div class="col-md-8">
                                    <span class="font-weight-bold totalToPaySpan" id="totalToPaySpan">Total a pagar: @ViewBag.total</span>
                                </div>
                            </div>
                            <br><br>
                            <!--  Pago en Alojamiento -->
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="payMethod" id="selectPay1" value="1" checked>
                                        <label class="form-check-label" for="selectPay1">En el Alojamiento</label>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div id="selectPay1Btn">
                                        <button aria-expanded="false" type="submit" class="btn--primary btn-sm"> Confirmar </button>
                                    </div>
                                </div>
                                <br><br><br>
                            </div>
                            <!--  Pago En Linea -->
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="payMethod" id="selectPay2" value="2">
                                        <label class="form-check-label" for="selectPay2">
                                            Pago en linea
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div id="selectPay2Btn" style="display: none">
                                        <script src="https://checkout.epayco.co/checkout.js"
                                                class="epayco-button"
                                                data-epayco-key="f214f116508a0cb81f432f160acb81b1"
                                                data-epayco-amount="@ViewBag.total"
                                                data-epayco-name="@ViewBag.nameServiceToPay"
                                                data-epayco-description="@ViewBag.nameServiceToPay"
                                                data-epayco-currency="cop"
                                                data-epayco-country="co"
                                                data-epayco-test="true"
                                                data-epayco-external="true"
                                                data-epayco-response="@ViewBag.urlResponsePay"
                                                data-epayco-confirmation="@ViewBag.urlConfirmPay"
                                                data-epayco-methodconfirmation="get"
                                                data-epayco-extra1="@ViewBag?.numdoc"
                                                data-epayco-extra2="@ViewBag?.selectedEstablishment?.IdEstablishment"
                                                data-epayco-extra3="@ViewBag.idBook"
                                                data-epayco-extra4="@ViewBag.emailGuest">
                                        </script>
                                    </div>
                                </div>
                                <br><br><br>
                            </div>
                            <!--  Pago parcial -->
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="payMethod" id="selectPay3" value="3">
                                        <label class="form-check-label" for="selectPay3">
                                            Pago parcial
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-9" id="selectPay3Btn" style="display: none">
                                    <div class="">
                                        <div class="col-md-6">
                                            <div class="form-inline">
                                                <label for="newPay" class="col-form-label">Abono&nbsp;$</label>
                                                <div class="">
                                                    <input type="number" class="" id="newPay" value="@ViewBag.total">
                                                </div>
                                            </div>
                                        </div>
                                       
                                        <div class="col-md-6">
                                            <input type="hidden" id="nameServiceToPay" name="nameServiceToPay" value="@ViewBag.nameServiceToPay" />
                                            <input type="hidden" id="urlResponsePay" name="urlResponsePay" value="@ViewBag.urlResponsePay" />
                                            <input type="hidden" id="urlConfirmPay" name="urlConfirmPay" value="@ViewBag.urlConfirmPay" />
                                            <input type="hidden" id="numdoc" name="numdoc" value="@ViewBag.numdoc" />
                                            <input type="hidden" id="IdEstablishment" name="IdEstablishment" value="@ViewBag?.selectedEstablishment?.IdEstablishment" />
                                            <input type="hidden" id="idBook" name="idBook" value="@ViewBag.idBook" />
                                            <input type="hidden" id="emailGuest" name="emailGuest" value="@ViewBag.emailGuest" />
                                            <script type="text/javascript" src="https://checkout.epayco.co/checkout.js"> </script>
                                            <button type="button" id="btnPayPartial" class="btn btn-outline-dark" style="width=200px">Pagar Abono con <b>ePayco</b> </button>
                                        </div>
                                    </div>
                                   
                                </div>
                                <br><br>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_DetailsCard")
</div>

@section Scripts{
    <!-- =============================================================
        SCRIPTS PARA ESTA PAGINA
    =============================================================== -->
    <script src="~/vendor/daterangepicker-master/moment.min.js"></script>
    <script src="~/vendor/daterangepicker-master/daterangepicker.js"></script>

    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>

    <script src="~/js/vistas/payment.js"></script>
    <script src="~/vendor/select2/select2.min.js"></script>
    <script src="~/vendor/select2/es.min.js"></script>
    }
