<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hottely - @ViewData["Title"]</title>

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.css" rel="stylesheet">
    <link href="~/vendor/toastr/toastr.min.css" rel="stylesheet">
    <link href="~/vendor/sweetalert/sweetalert.css" rel="stylesheet">
    @await RenderSectionAsync("Styles", required: false)

    <style>
        body {
            background: #f4f4f5;
            color: #252339;
            font-family: "Roboto",Arial,sans-serif;
        }

        .navbar {
          background-color: #fff; /* Fondo blanco para el menú */
        }
        .navbar-text {
          margin-right: 10px; /* Margen derecho para el texto "Tu búsqueda" */
        }
        .dropdown-menu {
          right: 0; /* Alineación derecha para los dropdowns */
          left: auto;
        }

        @@media (max-width: 576px) {
          .navbar-text {
            margin-right: 0; /* Eliminar margen derecho en pantallas pequeñas */
            margin-bottom: 5px; /* Agregar margen inferior en pantallas pequeñas */
          }
          .btn-group {
            display: flex; /* Mostrar los botones en línea en pantallas pequeñas */
          }
          .btn-group .btn {
            margin-right: 5px; /* Agregar espacio entre los botones */
          }
        }

        .navbar-light .navbar-text {
            color: #252339;
            font-weight: bold;
        }

        ul {
            font-family: "Roboto",Arial,sans-serif !important;
        }

    </style>

</head>
<body class="_bg-gradient-info" id="__page-top">

    <!-- Page Wrapper -->
    <div id="wrapper_">
	
		<!-- Page Menu - -->        
        <nav class="navbar navbar-expand-lg navbar-light border-bottom shadow-sm">
            <div class="container">
                <!-- Parte Izquierda del Menú -->

                @if (@ViewBag?.selectedEstablishment != null)
                {
                    <span class="navbar-text">
                        Tu búsqueda
                    </span>
                    <div class="btn-group mr-auto">
                        <button type="button" class="btn btn-light">@ViewBag.selectedEstablishment.EstablishmentName</button>
                        <button type="button" class="btn btn-light">@ViewBag.selectedEstablishment.CheckInFormated - @ViewBag.selectedEstablishment.CheckOutFormated</button>
                        <button type="button" class="btn btn-light">@ViewBag.selectedEstablishment.NumRoom Hab. @ViewBag.selectedEstablishment.NumAdult @ViewBag.selectedEstablishment.TextAdult @ViewBag.selectedEstablishment.NumChildren @ViewBag.selectedEstablishment.TextChild</button>
                    </div>
                }               

                <!-- Parte Derecha del Menú -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="idiomaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Idioma
                        </a>
                        <div class="dropdown-menu" aria-labelledby="idiomaDropdown">
                            <a class="dropdown-item" href="#">Español</a>
                            <a class="dropdown-item" href="#">Inglés</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="monedaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Moneda
                        </a>
                        <div class="dropdown-menu" aria-labelledby="monedaDropdown">
                            <a class="dropdown-item" href="#">COP</a>
                            <a class="dropdown-item" href="#">USD</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content_">

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copy




text-center my-auto">
                        <span> All rights reserved - 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.js"></script>
    <script src="~/vendor/toastr/toastr.min.js"></script>
    <script src="~/vendor/sweetalert/sweetalert.js"></script>
    <script src="~/vendor/loadingoverlay/loadingoverlay.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>

